Source: libtie-regexphash-perl
Section: perl
Priority: optional
Maintainer: Arnd Hannemann <arnd.hannemann@credativ.de>
Build-Depends: debhelper (>= 7.3.7~), perl (>= 5.10) | libmodule-build-perl
Build-Depends-Indep: perl
Standards-Version: 3.8.4
Homepage: http://search.cpan.org/dist/Tie-RegexpHash/
Vcs-Git: https://github.com/credativ/pkg-libtie-regexphash-perl.git

Package: libtie-regexphash-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: use regular expressions as hash keys
 Tie::RegexpHash allows one to use regular expressions as hash keys via 
 the standard tied hash interfaces in Perl, or through PerlOO methods.
